.home-about-section {
  margin: 0;
  padding: 0px 200px;
  background-color: rgb(16, 16, 16);
  .medium-text {
    font-weight: 300;
    font-size: 22px;
    font-style: italic;
    line-height: 50px;
  }
}

.recent-projects-section {
  background-image: linear-gradient(rgb(16, 16, 16), black);

  .recent-projects-footer {
    margin-top: 20px;
    text-align: center;

    .recent-projects-footer-link {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
