.intro-text {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  user-select: none;
  pointer-events: none;

  .name {
    font-size: 4rem;
    margin: 0;
    font-weight: 700;
  }

  .cs {
    font-size: 1.8rem;
    margin: 0.5rem 0;
    font-weight: 300;
  }

  .cmu {
    font-size: 1.8rem;
    margin: 0.5rem 0;
    font-weight: 300;
  }
}

.background-glow-img {
  position: absolute;
  top: 100px;
  left: 0;
  width: 500px;
  height: 500px;
  //   width: 100%;
  //   height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
}

#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 768px) {
  .intro-text {
    left: 50%;

    .name {
      font-size: 2.5rem;
    }

    .cs,
    .cmu {
      font-size: 1.2rem;
    }
  }
}
