.navbackground {
  background: #141414;
  color: white;
  height: 60px;
  border-bottom: 1px solid white;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    img {
      height: 60px;
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    z-index: 1001;

    span {
      width: 25px;
      height: 3px;
      background: white;
      transition: all 0.3s ease;
    }

    &.active {
      span:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
      }
    }
  }

  .navbar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: inherit;
    gap: 30px;
    padding-right: 30px;

    .navitem {
      a {
        line-height: 60px;
        font-size: 1.1em;
      }

      .resume {
        text-decoration: underline;

        .resume-popout-icon {
          position: absolute;
          height: 23px;
          top: 18.5px;
          padding-left: 5px;
          width: auto;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }

    .navbar {
      position: fixed;
      top: 0;
      right: -100%;
      height: 100vh;
      width: 250px;
      background: black;
      flex-direction: column;
      padding: 80px 30px 30px;
      gap: 20px;
      transition: right 0.3s ease;
      border-left: 1px solid white;
      z-index: 1000;

      &.active {
        right: 0;
      }

      .navitem {
        a {
          line-height: normal;
          font-size: 1.2em;
        }

        .resume {
          .resume-popout-icon {
            position: relative;
            top: 3px;
          }
        }
      }
    }
  }
}
