#root {
  width: 100vw;
  padding: 0 22vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  letter-spacing: -0.03em;

  font-family: Montserrat, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 600px) {
  #root {
    padding: 0 0;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #bcbcbc;
  height: 1px;
}

a {
  color: #fff;
  margin: 0 0.5rem;
  text-decoration: none;

  &:hover {
    color: #80b9e4;
  }
}
