#root {
  width: 100vw;
  height: 100vh;
  background: #101010;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  letter-spacing: -0.03em;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #bcbcbc;
  height: 1px;
}

.full-page {
  background-image: linear-gradient(rgb(16, 16, 16), black);
  min-height: 85vh;
}

.section {
  display: flex;
  flex-flow: column;
  padding-left: 22vw;
  padding-right: 22vw;
  padding-top: 30px;

  .section-title {
    font-weight: 400;
    font-size: 2.6em;
    text-align: left;
    margin-bottom: 10px;
  }
}

a {
  color: #fff;
  margin: 0 0.5rem;
  text-decoration: none;

  &:hover {
    color: #80b9e4;
  }
}
