#root {
  width: 100vw;
  padding: 0 18vw;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  letter-spacing: -0.03em;

  font-family: Montserrat, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: var(--color-scheme);
  color: var(--text);
  background: linear-gradient(180deg, var(--bg-start) 0%, var(--bg-end) 100%);
  transition:
    background 0.5s ease,
    color 0.5s ease;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 600px) {
  #root {
    padding: 0 0;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(180deg, var(--bg-start) 0%, var(--bg-end) 100%);
  transition: background 0.5s ease;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: var(--hr-color);
  height: 1px;
  transition: background-color 0.5s ease;
}

a {
  color: var(--link);
  margin: 0 0.5rem;
  text-decoration: none;
  transition: color 0.5s ease;

  &:hover {
    color: var(--link-hover);
  }
}
