footer {
  background: #000000ff;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.links {
  margin-top: 0.5rem;
}

a {
  color: #fff;
  margin: 0 0.5rem;
  text-decoration: none;
}
