#canvas-container {
  width: 100%;
  height: 90vh;
}

.recent-projects-section {
  background-image: linear-gradient(rgb(16, 16, 16), black);

  .recent-projects-footer {
    margin-top: 20px;
    text-align: center;

    .recent-projects-footer-link {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.project-container {
  display: flex;
  margin-bottom: 24px;
  margin-top: 24px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;

  .project-info {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;

    .project-header {
      display: flex;
      flex-flow: row;
      align-items: flex-start;

      .date {
        color: #888;
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 0px;
        flex: 1;
        text-align: left;
      }

      .title {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: right;
      }
    }

    .project-description {
      text-align: left;
      margin-top: 20px;
      margin-bottom: 6px;
    }
  }

  .project-image-container {
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;

    .image {
      height: 45vh;
      width: 40vw;
      object-fit: contain;
      border-radius: 8px;
    }

    .popout-link {
      position: absolute;
      padding: 10px;
    }
  }
}
