.navbackground {
  background: black;
  color: white;
  height: 60px;
  border-bottom: 1px solid white;
  //   display: flex;

  .logo {
    position: absolute;
    top: 0px;
    left: 50px;

    img {
      height: 60px;
    }
  }

  .navbar {
    display: flex;
    list-style: none;
    margin: 0;

    margin-left: 15vw;
    padding: 0;
    height: inherit;

    .navitem {
      flex: 1;

      a {
        line-height: 60px;
      }

      .resume {
        text-decoration: underline;

        .resume-popout-icon {
          position: absolute;
          height: 23px;
          top: 18.5px;
          padding-left: 5px;
          width: auto;
        }
      }
    }
  }
}
