.navbackground {
  background: black;
  color: white;
  height: 60px;
  border-bottom: 1px solid white;
  padding: 0 22vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    img {
      height: 60px;
    }
  }

  .navbar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: inherit;
    gap: 30px;

    .navitem {
      a {
        line-height: 60px;
        font-size: 1.1em;
      }

      .resume {
        text-decoration: underline;

        .resume-popout-icon {
          position: absolute;
          height: 23px;
          top: 18.5px;
          padding-left: 5px;
          width: auto;
        }
      }
    }
  }
}
